<!DOCTYPE html>
<html>

<head>
    <title>AngularJS App</title>
    <script src="/AngularJs/Scripts/angular.min.js"></script>
    <script src="/AngularJs/Scripts/script.js"></script>
    <script src="/AngularJs/Scripts/StringService.js"></script>

</head>

<body ng-app="myModule">
    <div ng-controller="myController">
        <table>
            <tr>
                <td>Your String</td>
                <td><input type="text" ng-model="input" /> </td>
            </tr>
            <tr>
                <td>Result</td>
                <td><input type="text" ng-model="output" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" ng-click="transformString(input)" value="Process String" />
                </td>
            </tr>
        </table>
    </div>






</body>

</html>