<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>HTTP service Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="HttpController">

    <h1>HTTP service Example</h1>
    <ul>
        <li ng-repeat="user in users">{{user.name}} - {{user.email}}</li>
    </ul>

    <script>
        var app = angular.module('myApp', []);

        app.controller('HttpController', function ($scope, $http,$log) {
            $http.get('https://jsonplaceholder.typicode.com/users')
                .then(function (response) {
                    $scope.users = response.data;
                    $log.info(response);
                })
                .catch(function (error) {
                    console.error('Error fetching data:', error);
                });
        });
    </script>
</body>

</html>
