@primary-color: rgb(107, 98, 100);

body {
  background-color: @primary-color;
  color: white;
  font-family: Arial, sans-serif;
}

@nice-blue: #5B83AD;  
@light-blue: @nice-blue + #111;  
h1 {  
  color: @light-blue;  
}   
p{
    font-size: 20px;
}