body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
header {
  color: darksalmon;
  text-align: center;
  padding: 20px;
}
nav {
  text-align: center;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
}
nav ul li a {
  display: block;
  color: black;
  text-decoration: none;
}
nav ul li a:hover {
  display: inline-block;
  background-color: #111;
  border-radius: 5px;
}
.restaurant-container {
  text-align: center;
  margin: 20px;
  padding: 15px;
  flex-basis: calc(33.33% - 40px);
  margin-bottom: 10px; 
}
.restaurant-container h2,
.restaurant-container p {
  color: #111;
}
.restaurant-container img {
  width: 250px;
  height: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.restaurant-container img:hover {
  transform: scale(1.1);
  /* Enlarge image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.restaurant-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.carousel-inner {
  height: 70vh;
}

.carousel-item {
  background-size: cover;
  background-position: center;
  height: 100%;
}
.small-card-image {
  width: 150px; 
  height: 100px; 
}